<ion-header>
  <ion-toolbar color="naranja">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio">
      </ion-back-button>
    </ion-buttons>
    <ion-searchbar value="" [(ngModel)]="busqueda" placeholder="Buscar" animated></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content color="black">
  <ion-card mode="ios" color="black" class="bordered-card">
    <div style="margin: 5%;">
      <ion-text color="naranja"><h3><strong>Selecciona el modelo</strong></h3></ion-text>
      <ion-item>
        <ion-select [(ngModel)] = "componenteS" placeholder="TODOS" interface="popover" value="TODOS">
          <ion-select-option value="TODOS">TODOS</ion-select-option>
          <div *ngFor="let componente of componenteSelect">
            <ion-select-option value="{{componente}}">{{componente}}</ion-select-option>
          </div>
        </ion-select>
      </ion-item>
      <ion-text color="naranja"><h2><strong>Fechas: </strong></h2></ion-text>
      <ion-item style="width: 45%; float: left; margin-right: 5%">
        <ion-datetime [(ngModel)] = "fechaInicio"
          (ionChange)="ngOnInit()"
          mode="ios"
          cancelText="Cancelar"
          doneText="Hecho"
          displayFormat="DD, MMM, YYYY"
          min="1994-03-14"
          max="2100-12-09"
          value="2000-01-01"
          monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
        >
        </ion-datetime>
      </ion-item>
      <ion-item style="width: 45%;">
        <ion-datetime [(ngModel)] = "fechaFin"
          (ionChange)="ngOnInit()"
          mode="ios"
          cancelText="Cancelar"
          doneText="Hecho"
          displayFormat="DD, MMM, YYYY"
          min="1994-03-14"
          max="2100-12-09"
          value="2021-01-12"
          monthShortNames="Ene, Feb, Mar, Abr, May, Jun, Jul, Ago, Sep, Oct, Nov, Dic"
        >
        </ion-datetime>
      </ion-item>
    </div>
  </ion-card>
  <ion-card color="black">
    <div style="margin: 5%;">
      <ion-text color="naranja"><h3><strong>Resultados</strong></h3></ion-text>
        <div *ngFor="let componente of componentes">
          <ion-card class="bordered-card" color="black" *ngIf="(componente.nombreComponente.indexOf(busqueda) !== -1 || componente.componente_ID.indexOf(busqueda) !== -1 || busqueda == '') && (componenteS == 'TODOS' || componenteS == componente.nombreComponente)" style="width: 100%; margin-left: 0%;" (click)="IrComponenteDetalle(componente.componente_ID, componente.nombreComponente)">
            <ion-grid>
              <ion-row>
                <ion-col size="2">
                  <ion-img style="width: 100%; height: 100%;" src="{{componente.ubicacionImagen}}"></ion-img>
                </ion-col>
                <ion-col size="10">
                  <ion-text color="celeste"><strong><p>{{componente.nombreComponente}}: {{componente.componente_ID}}</p></strong></ion-text>
                  <ion-icon color="light" style="float: left; font-size: 20px; margin-right: 1%;" name="construct-outline"></ion-icon>
                  <ion-text color="celeste"><strong>{{componente.Q_mantenimiento}}</strong></ion-text>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card>
        </div>
    </div>
  </ion-card>
</ion-content>
