<ion-header>
  <ion-toolbar color="naranja">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Administrar Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="black">
  <div id="contenedor">
    <p><strong>Mis datos</strong></p>
    <p style="font-size:medium">Puedes modificar la informacion de tu usario<p>
    <br>
    <ion-item>
      <ion-icon color="medium" name="person-circle-outline" style="margin-right: 5%;"></ion-icon>
      <ion-input [(ngModel)] = "usuario" color="medium" placeholder="Usuario"></ion-input>
    </ion-item>
    <br>
    <ion-item>
      <ion-icon color="medium" name="lock-closed" style="margin-right: 5%;"></ion-icon>
      <ion-input [(ngModel)] = "contrasena" type="{{passwordtype}}" color="medium" placeholder="Contraseña"></ion-input>
      <ion-icon (click)="toggleEye()" color="medium" name="{{ojo}}"></ion-icon>
    </ion-item>
  </div>
</ion-content>
<ion-footer style="background-color: var(--ion-color-black)">
  <div id="contenedor" class="transparent-background">
    <ion-button color="naranja" expand="full" (click) = "Modificar()">Modificar</ion-button>
  </div>
</ion-footer>
