.fondo{
    --background: url("/assets/images/fondodetalle2.png") 0 0/100% 100% no-repeat !important;
}
svg {
    margin-top: auto;
    display: block;
    position: absolute;
  }
  
  path {
    stroke-linecap: round;
  }
  
  path.grey {
    stroke: lightgrey;
    stroke-width: 25;
  }
  
  path.purple {
    animation: dash 3s linear;
    stroke-width: 28;
    //stroke: purple;
    stroke-dasharray: calc(220 * 3.142 * 1.83);
    //stroke-dashoffset: calc(47.91 + 527.076 * 0.99);
    /* adjust last number for variance */
  }
  // vacio 574.986; lleno 47.91
  //      1264.96         105.41
.tarjeta{
    border-radius: 7%;
    margin: 0%;
    height: 250px;
}
.motivo{
    margin: 0% !important;
    margin-bottom: 3% !important;
    //height: 52px !important;
}
ion-icon{
    font-size: 25px;
    color: red;
}
ion-card{
  box-shadow: rgb(0 0 0 / 40%) 0px 4px 16px
}
