<ion-content class="fondo" no-bounce has-bouncing="false" forceOverscroll="false">
  <ion-header>
    <ion-toolbar color="inherit">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/flotainactiva" color="light">
        </ion-back-button>
      </ion-buttons>
      <ion-title color="light">Repuesto</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <style>
    @keyframes dash {
      from {
        stroke-dashoffset: 1264;
      }
      50%{
        stroke-dashoffset: 1264;
      }
      to {
        stroke-dashoffset: calc(105.41 + 1159.55 * ({{1 - porcentaje}}));
      }
    }
  </style>
  <svg width="100%" height="500px" viewBox="0 0 1000 1000">
    <path class="grey"
      d=" M390,550 
          A220,220 0 1,1 610,550 "
          style="fill:none;"/>
    <path style=" stroke: {{estado}};
                  stroke-dashoffset: calc(105.41 + 1159.55 * ({{1 - porcentaje}}));
                  fill:none;
                  " class="purple"
      d=" M390,550 
          A220,220 0 1,1 610,550 "
    />
  </svg>
  <div style="margin: 5%;" class="ion-text-center">
    <ion-text color="light">
      <h4>Estatus componente</h4>
    </ion-text>
    <ion-text color="light">
      <h3 style="margin-top: 0% !important;"><strong>{{componentenombre}}: {{componenteid}}</strong></h3>
    </ion-text>
    <ion-card color="black" style="z-index: -1;" class="tarjeta bordered-card-detalle">
      <ion-text>
        <p style="font-size: 40px; color: white;">
          <br>
          <strong>
<!--            @lolzano-->
          </strong>
        </p>
      </ion-text>
      <ion-text style="color: {{estado}}">
        <h2>
          <strong>
            {{componente.t_horaCarga}}
          </strong>
        </h2>
      </ion-text>
      <ion-grid style="margin-top: 10%;">
        <ion-row>
          <ion-col size="8">
            <ion-text color="light">
              <strong>
                Horas con carga
              </strong>
            </ion-text>
          </ion-col>
          <ion-col size="3">
            <strong style="color: {{estado}}">
              {{componente.t_horaCarga}}
            </strong>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <br>
    <ion-text color="naranja">
      <strong>
        Motivo Inactivo
      </strong>
    </ion-text>
    <br>
    <br>
    <!--
      Horas Acumuladas
    -->
    <ion-card color="black" class="motivo bordered-card">
      <ion-grid class="ion-padding">
        <ion-row>
          <ion-col style="color: var(--ion-color-naranja)" size="6"> Horas Acumuladas </ion-col>
          <ion-col size="2" *ngIf="componente.idMotivo == 1; else ngtemplate2">
            <ion-icon name="close-outline"></ion-icon>
          </ion-col>
          <ng-template #ngtemplate2> <ion-col size="2"> </ion-col> </ng-template>
          <ion-col *ngIf="componente.idMotivo == 1; else ngtemplate3" size="3">
            <ion-text color="celeste"> {{componente.fechaDesactivacion.substring(0, 10)}} </ion-text>
          </ion-col>
          <ng-template #ngtemplate3>
            <ion-col size="3"> </ion-col>
          </ng-template>
          <ion-col size="1" *ngIf="documentos[0].ubicacion != null; else ngtemplate1">
            <ion-icon (click)="descargar(documentos[0].ubicacion, documentos[0].nombre)" color="celeste" name="arrow-down-outline"></ion-icon>
          </ion-col>
          <ng-template> <ion-col size="1"> </ion-col> </ng-template>
        </ion-row>
      </ion-grid>
    </ion-card>
    <!--
      Falla por Fractura
    -->
    <ion-card color="black" class="motivo bordered-card">
      <ion-grid>
        <ion-row>
          <ion-col style="color: var(--ion-color-naranja)" size="6">Falla por fractura</ion-col>
          <ion-col size="2" *ngIf="componente.idMotivo == 2; else ngtemplate2">
            <ion-icon name="close-outline"></ion-icon>
          </ion-col>
          <ng-template #ngtemplate2> <ion-col size="2"> </ion-col> </ng-template>
          <ion-col *ngIf="componente.idMotivo == 2; else ngtemplate3" size="3">
            <ion-text color="celeste"> {{componente.fechaDesactivacion.substring(0, 10)}} </ion-text>
          </ion-col>
          <ng-template #ngtemplate3>
            <ion-col size="3"> </ion-col>
          </ng-template>
          <ion-col size="1" *ngIf="documentos[1].ubicacion != null; else ngtemplate1">
            <ion-icon (click)="descargar(documentos[1].ubicacion, documentos[1].nombre)" color="celeste" name="arrow-down-outline"></ion-icon>
          </ion-col>
          <ng-template #ngtemplate1> <ion-col size="1"> </ion-col> </ng-template>
        </ion-row>
      </ion-grid>
    </ion-card>
    <!--
      Fin de vida util
    -->
    <ion-card color="black" class="motivo bordered-card">
      <ion-grid>
        <ion-row>
          <ion-col style="color: var(--ion-color-naranja)" size="6">Fin de vida util</ion-col>
          <ion-col size="2" *ngIf="componente.idMotivo == 3; else ngtemplate2">
            <ion-icon name="close-outline"></ion-icon>
          </ion-col>
          <ng-template #ngtemplate2> <ion-col size="2"> </ion-col> </ng-template>
          <ion-col *ngIf="componente.idMotivo == 3; else ngtemplate3" size="3">
            <ion-text color="celeste"> {{componente.fechaDesactivacion.substring(0, 10)}} </ion-text>
          </ion-col>
          <ng-template #ngtemplate3>
            <ion-col size="3"> </ion-col>
          </ng-template>
          <ion-col size="1" *ngIf="documentos[2].ubicacion != null; else ngtemplate1">
            <ion-icon (click)="descargar(documentos[2].ubicacion, documentos[2].nombre)" color="celeste" name="arrow-down-outline"></ion-icon>
          </ion-col>
          <ng-template> <ion-col size="1"> </ion-col> </ng-template>
        </ion-row>
      </ion-grid>
    </ion-card>
    <!--
      Otros motivos
    -->
    <ion-card color="black" class="motivo bordered-card">
      <ion-grid>
        <ion-row>
          <ion-col style="color: var(--ion-color-naranja)" size="6">Otros motivos</ion-col>
          <ion-col size="2" *ngIf="componente.idMotivo == 4; else ngtemplate2">
            <ion-icon name="close-outline"></ion-icon>
          </ion-col>
          <ng-template #ngtemplate2> <ion-col size="2"> </ion-col> </ng-template>
          <ion-col *ngIf="componente.idMotivo == 4; else ngtemplate3" size="3">
            <ion-text color="celeste"> {{componente.fechaDesactivacion.substring(0, 10)}} </ion-text>
          </ion-col>
          <ng-template #ngtemplate3>
            <ion-col size="3"> </ion-col>
          </ng-template>
          <ion-col size="1" *ngIf="documentos[3].ubicacion != null; else ngtemplate1">
            <ion-icon (click)="descargar(documentos[3].ubicacion, documentos[3].nombre)" color="celeste" name="arrow-down-outline"></ion-icon>
          </ion-col>
          <ng-template> <ion-col size="1"> </ion-col> </ng-template>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>
