<ion-content class="fondo">
  <ion-header>
    <ion-toolbar class="transparent-background">
      <ion-buttons slot="start">
        <ion-back-button color="light" defaultHref="/inicio">
        </ion-back-button>
      </ion-buttons>
      <ion-title color="light">Manuales</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card class="transparent-background">
    <div style="margin: 5%;">
      <ion-text color="light"><h3><strong>Selecciona el modelo</strong></h3></ion-text>
      <ion-item color="light">
        <ion-select [(ngModel)] = "componente" placeholder="TODOS" interface="popover" value="TODOS">
          <ion-select-option value="TODOS">TODOS</ion-select-option>
          <div *ngFor="let manuals of manualesSelect">
            <ion-select-option value="{{manuals}}">{{manuals}}</ion-select-option>
          </div>
        </ion-select>
      </ion-item>
    </div>
  </ion-card>
  <ion-card class="transparent-background">
    <div style="margin: 5%;">
      <ion-text color="light"><h3><strong>Resultados</strong></h3></ion-text>
      <div *ngFor="let manual of manuales">
        <ion-card color="black" class="bordered-card" *ngIf="manual.descripcion == componente || componente == 'TODOS'" style="width: 100%;" (click)="IrManual(manual.ubicacion)">
          <ion-item color="black" style="margin: 3%;">
            <ion-col class="ion-no-padding ion-no-margin">
              <ion-text color="light"><strong><p>{{manual.descripcion}}: {{manual.componente_ID}}</p></strong></ion-text>
              <ion-text color="light"><strong><p>{{manual.shortUbicacion}}</p></strong></ion-text>
            </ion-col>
            <ion-icon color="naranja" name="chevron-forward-outline" slot="end"></ion-icon>
          </ion-item>

        </ion-card>
      </div>
    </div>
  </ion-card>
</ion-content>
