.fondo{
    --background: url("/assets/images/background2.png") 0 0/100% 100% no-repeat !important;
}

ion-select{
    color: var(--ion-color-naranja);
    font-weight: bold;
}
//ion-card-content ion-icon {
//    background: var(--ion-color-celeste) !important;
//    border-radius: 50% !important;
//    border: var(--ion-color-celeste) solid 10px;
//    width: 30px !important;
//    height: 30px !important;
//    margin-top: 30px;
//}
