<ion-header>
  <ion-toolbar color = "naranja">
    <ion-buttons slot="start">
      <ion-back-button type="ios" defaultHref="/inicio">
      </ion-back-button>
    </ion-buttons>
    <ion-title style="float: left; color: white">Seleccion de faena</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="black">
  <ion-list class="ion-no-margin ion-no-padding" style="background-color: var(--ion-color-naranja)">
    <ion-item color="black" *ngFor="let faena of faenas" (click)="IrInicio(faena.ID_Faena, faena.descripcion)">
      <ion-avatar>
        <ion-img [src]="faena.imageUrl"></ion-img>
      </ion-avatar>
      <ion-label style="margin-left: 7px;">
        {{faena.descripcion}}
      </ion-label> 
    </ion-item>
  </ion-list>
</ion-content>
