/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.transparent-background{
  background: transparent !important;
  --background: rgba(0,0,0,0);
  --border-color: rgba(0,0,0,0);
}

.bordered-card{
  border: var(--ion-color-naranja) solid 2px;
}
.bordered-card-detalle{
  background-color: rgba(255, 255, 255, .4) !important;
  border: var(--ion-color-naranja) solid 2px;
}
.alert-naranja-negro .alert-wrapper{
  .alert-title{
    color: var(--ion-color-naranja)
  }
  .alert-button{
    color: var(--ion-color-celeste)
  }
  background-color: black;
  border: var(--ion-color-naranja) solid 2px;
}
