//@use "node_modules/@material/floating-label/mdc-floating-label";
//@use "node_modules/@material/line-ripple/mdc-line-ripple";
//@use "node_modules/@material/notched-outline/mdc-notched-outline";
//@use "node_modules/@material/textfield";
//
//@include textfield.core-styles;
ion-item {
  background-color: black;
  --background: var(--ion-color-black);
  --border-width: 2px;
  --border-color: var(--ion-color-naranja);
  --border-radius: 8px;
}
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 15%;
  //transform: translateY(-50%);
}
.titulo-logo{
  color: var(--ion-color-celeste);
}
#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: white;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.fondo{
  --background: url("/assets/images/inicio-sesion.jpg") 0 0/100% 100% no-repeat !important;
}
