<ion-content class="fondo">
  <div id="container" style="margin: 5%;">
    <ion-img style='width:80%; height:80%; margin: auto; display: block; padding-bottom: 10px;' src= "../assets/images/sandviklogo.png"></ion-img>
    <ion-text color="primary" class="ion-padding-bottom">
      <strong class="titulo-logo">Control de repuestos mineros</strong>
    </ion-text>
    
<!--    <br><br><br><br>-->
<!--    <br><br><br><br>-->

    <ion-text class="ion-text-start">
      <p style="padding-top: 10vh"><strong>Inicio de sesión</strong></p>
      <p style="font-size:medium">Ingresa tus datos para acceder<p>
    </ion-text>

    <br><br>
    <ion-item class="transparent-background">
      <ion-icon color="light" name="person-circle-outline" style="margin-right: 5%;"></ion-icon>
      <ion-input [(ngModel)] = "usuario" color="light" placeholder="Usuario"></ion-input>
    </ion-item>
    <p style="font-size:small; margin-left: 7%;" class="ion-text-start">Requerido</p>
    
    <br>

    <ion-item class="transparent-background">
<!--      <ion-label color="light" position="stacked">Contraseña</ion-label>-->
      <ion-icon color="light" name="lock-closed" style="margin-right: 5%;"></ion-icon>
      <ion-input [(ngModel)] = "contrasena" type="{{passwordtype}}" color="light" placeholder="Contraseña"></ion-input>
      <ion-icon (click)="toggleEye()" color="light" name="{{ojo}}"></ion-icon>
    </ion-item>
    <p style="font-size:small; margin-left: 7%;" class="ion-text-start">Requerido</p>
    <ion-grid>
      <ion-row>
        <ion-col size="5">
        </ion-col>
        <ion-col size="7">
          <ion-item color="black">
            <ion-label >Recordar</ion-label>
            <ion-toggle color="naranja" [(ngModel)]="recordar"></ion-toggle>
          </ion-item>
          
        </ion-col>
      </ion-row>
    </ion-grid>

    <br>

    <ion-button style="margin-bottom: 5vh" color="celeste" expand="full" (click) = "Ingresar()">Ingresar</ion-button>
      
  </div>
</ion-content>
