<ion-content padding class="background">
  <div style="margin: 5%;" id="container">
    <ion-grid style="padding: 0%;">
      <ion-row>
        <div style="float: left;">
          <ion-text color="light" size="x-large">
            <h3><strong>SANDVIK<br>{{faenanombre}}</strong></h3>
          </ion-text>
          <ion-text color="light" size="x-large">
            <h5>¿Qué vamos a revisar?</h5>
          </ion-text>
        </div>
        <ion-button ion-button icon-only style="--box-shadow:none; float: right; margin-left: auto;" color="orange" (click)="Salir()">
          <ion-icon color="naranja" size="large" name="log-out-outline" style="padding-right: 0px;"></ion-icon>
        </ion-button>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-card (click)="IrFlotaActiva()">
            <ion-card-content class="ion-text-center">
              <ion-icon color="light" name="checkmark-circle"></ion-icon>
              <ion-text class="ion-text-center" color="light">
                <h2><strong>Flota Activa</strong></h2>
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card (click)="IrFlotaInactiva()">
            <ion-card-content class="ion-text-center">
              <ion-icon color="light" name="remove-circle"></ion-icon>
              <ion-text class="ion-text-center" color="light">
                <h2><strong>Flota Inactiva</strong></h2>
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-card (click)="IrMySandvik()">
            <ion-card-content class="ion-text-center">
              <ion-icon color="light" name="card"></ion-icon>
              <ion-text class="ion-text-center" color="light">
                <h2><strong>My Sandvik</strong></h2>
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card (click)="IrManuales()">
            <ion-card-content class="ion-text-center">
              <ion-icon color="light" name="documents"></ion-icon>
              <ion-text class="ion-text-center" color="light">
                <h2><strong>Manuales</strong></h2>
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-card (click)="IrUsuario()">
            <ion-card-content class="ion-text-center">
              <ion-icon color="light" name="person-circle"></ion-icon>
              <ion-text class="ion-text-center" color="light">
                <h2><strong>Usuario</strong></h2>
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card [disabled]="!administrador" (click)="SeleccionarFaena()">
            <ion-card-content class="ion-text-center">
              <ion-icon color="light" name="business"></ion-icon>
              <ion-text class="ion-text-center" color="light">
                <h2><strong>Faena</strong></h2>
              </ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>


  </div>
</ion-content>
