ion-content.background{
    --background: url("/assets/images/background2.png") 0 0/100% 100% no-repeat;
}
ion-card{
    --background: #ffffff77;
    border: var(--ion-color-naranja) solid 2px;
    border-radius: 10%;
    margin: 0%;
    height: 180px;
}
ion-card-content ion-icon {
    background: var(--ion-color-celeste) !important;
    border-radius: 50% !important;
    border: var(--ion-color-celeste) solid 10px;
    width: 30px !important;
    height: 30px !important;
    margin-top: 30px;
}
ion-card-content {
    width: 100% !important;
    height: 100% !important;
}
