.fondo{
    --background: url("/assets/images/fondodetalle2.png") 0 0/100% 100% no-repeat !important;
  min-height: 500px !important;
}
svg {
    margin-top: auto;
    display: block;
    position: absolute;
  }
  
  path {
    stroke-linecap: round;
  }
  
  path.grey {
    stroke: lightgrey;
    stroke-width: 25;
  }
  
  path.purple {
    animation: dash 3s linear;
    stroke-width: 28;
    //stroke: purple;
    stroke-dasharray: calc(220 * 3.142 * 1.83);
    //stroke-dashoffset: calc(47.91 + 527.076 * 0.99);
    /* adjust last number for variance */
  }
  // vacio 574.986; lleno 47.91
  //      1264.96         105.41
.tarjeta{
    border-radius: 7%;
    margin: 0%;
    height: 300px;
}
.motivo{
    margin: 0% !important;
    margin-bottom: 3% !important;
    height: 52px !important;
}
ion-icon{
    font-size: 25px;
    color: red;
}
ion-card{
  box-shadow: rgb(0 0 0 / 40%) 0px 4px 16px
}
/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

.grid-grafico{
  margin-top: 22%;
}
@media (min-width: 1281px) {

  /* CSS */
  .svg-grafico{
    top: 18%; max-height: 500px
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  /* CSS */

  .svg-grafico{
    top: 18%; max-height: 500px
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  /* CSS */

  .svg-grafico{
    top: 18%; max-height: 500px
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  /* CSS */

  .svg-grafico{
    top: 18%; max-height: 500px
  }

  .grid-grafico{
    margin-top: 12%;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  /* CSS */

  .svg-grafico{
    top: 14%; max-height: 500px
  }

  .grid-grafico{
    margin-top: 20%;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 20px) and (max-width: 320px) {

  /* CSS */

  .svg-grafico{
    top: 10%; max-height: 500px
  }
}
@media (min-width: 320px) and (max-width: 450px) {

  /* CSS */

  .svg-grafico{
    top: 12%; max-height: 500px
  }
}

@media (min-width: 450px) and (max-width: 570px) {

  /* CSS */

  .svg-grafico{
    top: 16%; max-height: 500px
  }

  .grid-grafico{
    margin-top: 18%;
  }
}
@media (min-width: 570px) and (max-width: 680px) {

  /* CSS */

  .svg-grafico{
    top: 16%; max-height: 500px
  }

  .grid-grafico{
    margin-top: 16%;
  }
}
@media (min-width: 680px) and (max-width: 700px) {

  /* CSS */

  .svg-grafico{
    top: 16%; max-height: 500px
  }

  .grid-grafico{
    margin-top: 16%;
  }
}
@media (min-width: 700px) and (max-width: 800px) {

  /* CSS */

  .svg-grafico{
    top: 16%; max-height: 500px
  }

  .grid-grafico{
    margin-top: 13%;
  }
}
@media (min-width: 900px) and (max-width: 1000px) {

  /* CSS */

  .svg-grafico{
    top: 18%; max-height: 500px
  }

  .grid-grafico{
    margin-top: 11%;
  }
}
@media (min-width: 1000px) and (max-width: 1100px) {

  /* CSS */

  .svg-grafico{
    top: 19%; max-height: 500px
  }

  .grid-grafico{
    margin-top: 9%;
  }
}
@media (min-width: 1100px) and (max-width: 1200px) {

  /* CSS */

  .svg-grafico{
    top: 20%; max-height: 500px
  }

  .grid-grafico{
    margin-top: 7%;
  }
}
@media (min-width: 1200px) and (max-width: 1300px) {

  /* CSS */

  .svg-grafico{
    top: 21%; max-height: 500px
  }

  .grid-grafico{
    margin-top: 5%;
  }
}
@media (min-width: 1300px) and (max-width: 1400px) {

  /* CSS */

  .svg-grafico{
    top: 22%; max-height: 500px
  }

  .grid-grafico{
    margin-top: 3%;
  }
}
@media (min-width: 1400px) and (max-width: 1800px) {

  /* CSS */

  .svg-grafico{
    top: 23%; max-height: 500px
  }

  .grid-grafico{
    margin-top: 1%;
  }
}
@media (min-height: 700px) and (max-height: 800px) and (min-width: 700px){
  .svg-grafico{
    top: 18% !important;
  }
}
@media (min-height: 600px) and (max-height: 700px) and (min-width: 700px){
  .svg-grafico{
    top: 21% !important;
  }
}
@media (min-height: 500px) and (max-height: 600px) and (min-width: 700px){
  .svg-grafico{
    top: 23% !important;
  }
}
@media (min-height: 400px) and (max-height: 500px) and (min-width: 700px){
  .svg-grafico{
    top: 25% !important;
  }
}
@media (min-height: 300px) and (max-height: 400px) {
  .svg-grafico{
    top: 26% !important;
  }
}
