<ion-content class="fondo" no-bounce has-bouncing="false" forceOverscroll="false">
  <ion-header>
    <ion-toolbar color="inherit">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/flotaactiva" color="light">
        </ion-back-button>
      </ion-buttons>
      <ion-title color="light">Repuesto</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <style>
    @keyframes dash {
      from {
        stroke-dashoffset: 1264;
      }
      50%{
        stroke-dashoffset: 1264;
      }
      to {
        stroke-dashoffset: calc(105.41 + 1159.55 * ({{1 - porcentaje}}));
      }
    }
  </style>
  <svg width="100%" height="600px" class="svg-grafico" viewBox="0 0 1000 1000">
    <path class="grey"
      d=" M390,550 
          A220,220 0 1,1 610,550 "
          style="fill:none;"/>
    <path style=" stroke: {{estado}};
                  stroke-dashoffset: calc(105.41 + 1159.55 * ({{1 - porcentaje}}));
                  fill:none;
                  " class="purple"
      d=" M390,550 
          A220,220 0 1,1 610,550 "
    />
  </svg>
  <div style="margin: 5%;" class="ion-text-center">
    <ion-text color="light">
      <h4>Estatus componente</h4>
    </ion-text>
    <ion-text color="light">
      <h3 style="margin-top: 0% !important;"><strong>{{componente.nombre_componente}}: {{componente.id_componente}}</strong></h3>
    </ion-text>
    <ion-card color="black" style="z-index: -1;" class="tarjeta bordered-card-detalle">
      <ion-text>
        <p style="font-size: 40px; color: white;">
          <br>
          <strong>
<!--            @lolzano-->
          </strong>
        </p>
      </ion-text>
      <ion-text style="color: {{estado}}">
        <h2>
          <strong>
            {{componente.S_horaCarga}}
          </strong>
        </h2>
      </ion-text>
      <ion-grid class="grid-grafico">
        <ion-row>
          <ion-col size="8">
            <ion-text color="light">
              <strong>
                Horas con carga <br> Mantenciones realizadas
              </strong>
            </ion-text>
          </ion-col>
          <ion-col size="3">
            <strong style="color: {{estado}}">
              {{componente.S_horaCarga}}</strong> <br> <strong style="color: var(--ion-color-light)"> {{componente.Q_mantenimientos}}
            </strong>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <br>
    <ion-text style="padding: 5px; border-radius: 5px; background-color: transparent;" color="naranja">
      <strong>
        Razones última reparación
      </strong>
    </ion-text>
    <br>
    <br>
    <!--
      Cambio de Coraza
    -->
    <ion-card color="black" class="motivo bordered-card">
      <ion-grid>
        <ion-row>
          <ion-col size="4" style="color: var(--ion-color-naranja)">
            Cambio de Coraza
          </ion-col>
          <ion-col size="2" *ngIf="componente.motivoUltimaMantencion == 1; else ngtemplate2">
            <ion-icon name="close-outline"></ion-icon>
          </ion-col>
          <ng-template #ngtemplate2>
            <ion-col size="2">
            </ion-col>
          </ng-template>
          <ion-col size="1">
            <ion-text color="celeste">
              {{componente.Q_cambioCoraza}}
            </ion-text>
          </ion-col>
          <ion-col *ngIf="componente.F_cambioCoraza != null; else ngtemplate4" size="4">
            <ion-text color="celeste">
              {{componente.F_cambioCoraza.substring(0, 10)}}
            </ion-text>
          </ion-col>
          <ng-template #ngtemplate4>
            <ion-col size="4">
              <ion-text color="celeste">
                Sin datos
              </ion-text>
            </ion-col>
          </ng-template>
          <ion-col size="1" *ngIf="documentos[0].ubicacion != null; else ngtemplate1">
            <ion-icon (click)="descargar(documentos[0].ubicacion, documentos[0].nombre)" color="celeste" name="arrow-down-outline"></ion-icon>
          </ion-col>
          <ng-template>
            <ion-col size="1">

            </ion-col>
          </ng-template>
        </ion-row>
      </ion-grid>
    </ion-card>
    <!--
      Reparacion Integral
    -->
    <ion-card color="black" class="motivo bordered-card">
      <ion-grid>
        <ion-row>
          <ion-col size="4" style="color: var(--ion-color-naranja)">
            Reparacion Integral
          </ion-col>
          <ion-col size="2" *ngIf="componente.motivoUltimaMantencion == 2; else ngtemplate2">
            <ion-icon name="close-outline"></ion-icon>
          </ion-col>
          <ng-template #ngtemplate2>
            <ion-col size="2">
            </ion-col>
          </ng-template>
          <ion-col size="1">
            <ion-text color="celeste">
              {{componente.Q_reparacionIntegral}}
            </ion-text>
          </ion-col>
          <ion-col *ngIf="componente.F_reparacionIntegral != null; else ngtemplate4" size="4">
            <ion-text color="celeste">
              {{componente.F_reparacionIntegral.substring(0, 10)}}
            </ion-text>
          </ion-col>
          <ng-template #ngtemplate4>
            <ion-col size="4">
              <ion-text color="celeste">
                Sin datos
              </ion-text>
            </ion-col>
          </ng-template>
          <ion-col size="1" *ngIf="documentos[1].ubicacion != null; else ngtemplate1">
            <ion-icon (click)="descargar(documentos[1].ubicacion, documentos[1].nombre)" color="celeste" name="arrow-down-outline"></ion-icon>
          </ion-col>
          <ng-template>
            <ion-col size="1">
              
            </ion-col>
          </ng-template>
        </ion-row>
      </ion-grid>
    </ion-card>
    <!--
      Dado de baja
    -->
    <ion-card color="black" class="motivo bordered-card">
      <ion-grid>
        <ion-row>
          <ion-col size="3" style="color: var(--ion-color-naranja)">
            Dado de Baja
          </ion-col>
          <ion-col size="3" *ngIf="componente.motivoUltimaMantencion == 3; else ngtemplate3">
            <ion-icon name="close-outline"></ion-icon>
          </ion-col>
          <ng-template #ngtemplate3>
            <ion-col size="3">
            </ion-col>
          </ng-template>
          <ion-col size="1">
            <ion-text color="celeste">
              {{componente.Q_dadoBaja}}
            </ion-text>
          </ion-col>
          <ion-col *ngIf="componente.F_dadoBaja != null; else ngtemplate4" size="4">
            <ion-text color="celeste">
              {{componente.F_dadoBaja.substring(0, 10)}}
            </ion-text>
          </ion-col>
          <ng-template #ngtemplate4>
            <ion-col size="4">
              <ion-text color="celeste">
                Sin datos
              </ion-text>
            </ion-col>
          </ng-template>
          <ion-col size="1" *ngIf="documentos[2].ubicacion != null; else ngtemplate1">
            <ion-icon (click)="descargar(documentos[2].ubicacion, documentos[2].nombre)" color="celeste" name="arrow-down-outline"></ion-icon>
          </ion-col>
          <ng-template #ngtemplate1>
            <ion-col size="1">
              
            </ion-col>
          </ng-template>
        </ion-row>
      </ion-grid>
    </ion-card>
    <!--
      Falla no Prevista
    -->
    <ion-card color="black" class="motivo bordered-card">
      <ion-grid>
        <ion-row>
          <ion-col size="4" style="color: var(--ion-color-naranja)">
            Falla no prevista
          </ion-col>
          <ion-col size="2" *ngIf="componente.motivoUltimaMantencion == 4; else ngtemplate2">
            <ion-icon name="close-outline"></ion-icon>
          </ion-col>
          <ng-template #ngtemplate2>
            <ion-col size="2">
            </ion-col>
          </ng-template>
          <ion-col size="1">
            <ion-text color="celeste">
              {{componente.Q_fallaNoPrevista}}
            </ion-text>
          </ion-col>
          <ion-col *ngIf="componente.F_fallaNoPrevista != null; else ngtemplate4" size="4">
            <ion-text color="celeste">
              {{componente.F_fallaNoPrevista.substring(0, 10)}}
            </ion-text>
          </ion-col>
          <ng-template #ngtemplate4>
            <ion-col size="4">
              <ion-text color="celeste">
                Sin datos
              </ion-text>
            </ion-col>
          </ng-template>
          <ion-col size="1" *ngIf="documentos[3].ubicacion != null; else ngtemplate1">
            <ion-icon (click)="descargar(documentos[3].ubicacion, documentos[3].nombre)" color="celeste" name="arrow-down-outline"></ion-icon>
          </ion-col>
          <ng-template>
            <ion-col size="1">
              
            </ion-col>
          </ng-template>
        </ion-row>
      </ion-grid>
    </ion-card>
    <!--
      Pieza Nueva
    -->
    <ion-card color="black" class="motivo bordered-card">
      <ion-grid>
        <ion-row>
          <ion-col size="3" style="color: var(--ion-color-naranja)">
            Pieza Nueva
          </ion-col>
          <ion-col size="3" *ngIf="componente.motivoUltimaMantencion == 5; else ngtemplate3">
            <ion-icon name="close-outline"></ion-icon>
          </ion-col>
          <ng-template #ngtemplate3>
            <ion-col size="3">
            </ion-col>
          </ng-template>
          <ion-col size="1">
            <ion-text color="celeste">
              {{componente.Q_piezaNueva}}
            </ion-text>
          </ion-col>
          <ion-col *ngIf="componente.F_piezaNueva != null; else ngtemplate4" size="4">
            <ion-text color="celeste">
              {{componente.F_piezaNueva.substring(0, 10)}}
            </ion-text>
          </ion-col>
          <ng-template #ngtemplate4>
            <ion-col size="4">
              <ion-text color="celeste">
                Sin datos
              </ion-text>
            </ion-col>
          </ng-template>
          <ion-col size="1" *ngIf="documentos[4].ubicacion != null; else ngtemplate1">
            <ion-icon (click)="descargar(documentos[4].ubicacion, documentos[4].nombre)" color="celeste" name="arrow-down-outline"></ion-icon>
          </ion-col>
          <ng-template>
            <ion-col size="1">
              
            </ion-col>
          </ng-template>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>
